@import '../../styles/breakpoints';
@import '../../styles/typography';
.typography{
  &--heading-1{
    font-family:var(--Albra-Text);
    font-size: 116px; 
    line-height: 120px;
}
 &--heading-2{
    font-family:var(--Albra-Text);
    font-size: 36px; 
    line-height: 44px;
  
 }
 &--heading-3{
  font-family:var(--Albra-Text);
    font-weight: 300;
    font-size: 26px; 
    line-height: 40px;
 }

 &--body-text{

 }

 &--lg{

  width: 1100px;
 }
 &--md{
    width: 650px;
 }
 &--sm{
    width: 400px;
 }

 &--center{
  text-align: center;
 }
}