@import '../../styles/typography.scss';

.link {
  @include button-1-styles;
  position: relative;
  z-index: 10;
  text-decoration: none;
  color: black;

  &:hover {
    color: blue;
  }

  &:active {
    text-decoration: underline;
    text-decoration-style: double;
  }

  &--active {
    text-decoration: underline;
    text-decoration-style: double;
  }
}
