.scroll_section_outer {
  overflow: hidden;
}

.scroll_section_inner {
  height: 100vh;
  width: 600vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll_section {
  &_one {
    // background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_two {
    // background-color: green;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_three {
    // background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_four {
    // background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_five {
    // background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_six {
    // background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section_one_text{
    font-size: 20vw;
    color: white;
}
.section_two_text{
    font-size: 20vw;
    color: white;
}
.section_three_text{
    font-size: 20vw;
    color: white;
}
.section_four_text{
    font-size: 116px;
    line-height: 120px;
    color: white;
    max-width: 660px;
    text-align: center;
}

.section_five_text{
  font-size: 20vw;
  color: white;
}

.section_six_text{
  font-size: 20vw;
  color: white;
}
