.scroll_section_outer {
  overflow: hidden;
}

.scroll_section_inner {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll_section {
  &_one {
    // background-color: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: yellow;
  }

  &_two {
    // background-color: green;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
  }

  &_three {
    // background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
  }

  &_four {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100vh;
  }
  &_five {
    // background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_six {
    // background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .lorem2{
//   opacity: 0;
// }

// .lorem3{
//   opacity: 0;
// }
